In [ ]:
2*2

In [ ]:
2-1

In [ ]:
3/2

In [ ]:
7 % 4

In [ ]:
a = 5

In [ ]:
a

In [ ]:
a = a + a

In [ ]:
a

In [ ]:
type(a)

In [ ]:
'Hello World'

In [ ]:
'Hello \n World'

In [ ]:
'Hello \nWorld'

In [ ]:
print('Hello \nWorld')

In [ ]:
print("I'm the best")

In [ ]:
                                print("I am \tthebest")

In [ ]:
mystring = "Hello World"

In [ ]:
mystringng

In [ ]:
mystring

In [ ]:
mystring[0]

In [ ]:
mystring[9]

In [ ]:
mystring = abcdefghijk

In [ ]:
mystring = "abcdefghijk"

In [ ]:
mystring

In [ ]:
mystring[:3]

In [ ]:
mystring[0:4]

In [ ]:
mystring[3:9]

In [69]:
mystring = "abcdefghijk"

In [70]:
mystring[2:7:2]

'ceg'

In [ ]:
name = "Sam"

In [ ]:
"p"

In [ ]:
name[1:]

In [ ]:
'P' + name[1:]

In [ ]:
letter = 'z'

In [ ]:
letter * 2000

In [1]:
letter * -1

NameError: name 'letter' is not defined

In [2]:
letter * 1000

NameError: name 'letter' is not defined

In [3]:
letter = 'z'

In [4]:
letter * -1

''

In [5]:
x = "Hello World"

In [6]:
x.center

In [7]:
x.upper

In [8]:
x.upper()

'HELLO WORLD'

In [9]:
x.split()

['Hello', 'World']

In [10]:
x = 'Hi this is a string'

In [11]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [16]:
print('I am a {b} {f} {g} ' .format(g='gay', b='big', f='fucking'))

I am a big fucking gay

In [18]:
result = 100/654

In [19]:
result

0.1529051987767584

In [24]:
print('The result is {r:1.3f}'.format(r=result))

The result is 0.153

In [25]:
name = 'Sammy'
age = '69'

In [26]:
print(f'{name} is {age} years old.')

Sammy is 69 years old.

In [27]:
len

In [31]:
mylist = [1,2,3]

In [38]:
mylist

[1, 2, 3]

In [33]:
mylist[0] = 'ONE IN CAPS'

In [37]:
mylist[0] = 1

In [39]:
another_list = [4,5,6]

In [40]:
print(mylist + another_list)

[1, 2, 3, 4, 5, 6]

In [41]:
mylist = mylist + another_list

In [42]:
mylist

[1, 2, 3, 4, 5, 6]

In [43]:
mylist.append['7']

TypeError: 'builtin_function_or_method' object is not subscriptable

In [45]:
mylist.append('7')

In [46]:
mylist

[1, 2, 3, 4, 5, 6, 'six', '7']

In [47]:
mylist.pop('six')

TypeError: 'str' object cannot be interpreted as an integer

In [48]:
mylist.pop()

'7'

In [49]:
mylist

[1, 2, 3, 4, 5, 6, 'six']

In [50]:
popped_item = mylist.pop()

In [51]:
popped_item

'six'

In [52]:
mylist

[1, 2, 3, 4, 5, 6]

In [53]:
mylist.pop(0)

1

In [54]:
mylist

[2, 3, 4, 5, 6]

In [55]:
new_list = ['a', 'e', 'x', 'b', 'c']
number_list = [4,1,8,3]

In [56]:
new_list.sort()
number_list.sort()

In [57]:
new_list
number_list

[1, 3, 4, 8]

In [58]:
new_list

['a', 'b', 'c', 'e', 'x']

In [68]:
my_dict = {'key1':'value1', 'key2':'value2',}

In [69]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [70]:
my_dict['key1']

'value1'

In [76]:
prices_lookup = {'apple':2.99, 'oranges':1.99, 'milk':5.80}

In [77]:
prices_lookup['apple']

2.99

In [79]:
d = {'k2':123, 'k2':[1,2,3,4], 'k3':{'inside key':100}}

In [80]:
d['k2']

[1, 2, 3, 4]

In [83]:
d['k3']['inside key']

100

In [96]:
d = {'key1':['a', 'b', 'c',]}

In [97]:
d

{'key1': ['a', 'b', 'c']}

In [98]:
mylist = d['key1']

In [100]:
mylist[2]

'c'

In [101]:
letter = mylist[2]

In [102]:
letter.upper()

'C'

In [103]:
d['key1'][2].upper()

'C'

In [104]:
d = {'k1':100, 'k2':200}

In [105]:
d['k3'] = 300

In [106]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [107]:
d['k1'] = 'NEW VALUE'

In [108]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [109]:
d = {'k1': 100, 'k2': 200, 'k3': 300}

In [110]:
d.fromkeys

In [114]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [115]:
d.values()

dict_values([100, 200, 300])

In [116]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [1]:
# tuples

In [2]:
t = (1,2,3)

In [3]:
mylist = [1,2,3]

In [4]:
type(t)

tuple

In [5]:
type(mylist)

list

In [6]:
t = ('one',2)

In [7]:
t[0]

'one'

In [8]:
t[-1]

2

In [9]:
t = ('a','a','b')

In [10]:
t.count('a')

2

In [11]:
t.index('a')

0

In [12]:
t.index('b')

2

In [13]:
t

('a', 'a', 'b')

In [14]:
mylist

[1, 2, 3]

In [15]:
mylist[0] = 'New'

In [16]:
mylist

['New', 2, 3]

In [17]:
t[0] = 'New'

TypeError: 'tuple' object does not support item assignment

In [18]:
myset = set()

In [19]:
myset.add(1)

In [20]:
myset.add(2)

In [21]:
myset

{1, 2}

In [22]:
myset.add(2)

In [23]:
myset

{1, 2}

In [24]:
mylist = [1,1,1,1,1,2,2,2,3,3,3,3]

In [25]:
set(mylist)

{1, 2, 3}

In [26]:
True

True

In [27]:
true

NameError: name 'true' is not defined

In [28]:
False

False

In [29]:
type(True)

bool

In [30]:
1 > 2

False

In [31]:
1 == 1

True

In [32]:
b

NameError: name 'b' is not defined

In [33]:
b = None

In [35]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [36]:
myfile = open('myfile.txt')

In [37]:
myfile = open('whoops_wrong.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'whoops_wrong.txt'

In [38]:
pwd

'C:\\Users\\User\\Desktop'

In [39]:
myfile = open('myfile.txt')

In [40]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [41]:
myfile.read()

''

In [42]:
myfile.seek(0)

0

In [43]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [44]:
myfile.read()

''

In [45]:
myfile.seek(0)

0

In [46]:
contents = myfile.read()

In [47]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [48]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [49]:
myfile.seek(0)

0

In [51]:
myfile.readlines()

['this is the second line\n', 'this is the third line\n']

In [52]:
myfile.close()

In [53]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [54]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [55]:
with open('myfile.txt', mode='r') as myfile:
    contents = myfile.read()

In [56]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [57]:
with open('myfile.txt', mode='w') as myfile:
    contents = myfile.read()

UnsupportedOperation: not readable

In [59]:
%%writefile my_new_file.txt
ONE IS FIRST
TWO IS SECOND
THREE IS THIRD

Writing my_new_file.txt

In [61]:
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

ONE IS FIRST
TWO IS SECOND
THREE IS THIRD

In [62]:
with open('my_new_file.txt', mode = 'a') as f:
    f.write('\nFOUR ON FOURTH')

In [63]:
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

ONE IS FIRST
TWO IS SECOND
THREE IS THIRD

FOUR ON FOURTH

In [65]:
with open('kaksajd.txt', mode = 'w') as f:
    f.write('I CREATED THIS FILE')

In [67]:
with open('kaksajd.txt', mode = 'r') as f:
    print(f.read())

I CREATED THIS FILE

In [1]:
2 == 2

True

In [2]:
2 < 3

True

In [3]:
2 == 1

False

In [5]:
'hello' == 'bye'

False

In [6]:
'Bye' == 'bye'

False

In [7]:
'2' == 2

False

In [8]:
2.0 == 2

True

In [9]:
3 != 3

False

In [3]:
a = 3

In [4]:
b = 4

In [5]:
4 != 5

True

In [6]:
1 < 2 < 3

True

In [7]:
1 < 2 > 3

False

In [1]:
1 < 2 and 2 > 3

False

In [3]:
('h' == 'h') and (2 == 2)   #() are option in this case, both conditions need to be true.

True

In [4]:
1 == 1 or 2 == 2  #only one conditon needs to be true

True

In [5]:
100 == 1 or 2 == 200

False

In [6]:
not 1 == 1

False

In [7]:
400 == 5000

False

In [8]:
not 400 == 5000

True

In [9]:
if True:
    print('ITS TRUE!')

ITS TRUE!

In [10]:
if 3 > 2:
    print("ITS TRUE!")

ITS TRUE!

In [12]:
hungry = True
if hungry:
    print("Feed me!")

Feed me!

In [13]:
hungry = False
if hungry:
    print("FEED ME!")
else:
    print("Im not hungry!")

Im not hungry!

In [14]:
hungry = True
if hungry:
    print("FEED ME!")
else:
    print("Im not hungry!")

FEED ME!

In [15]:
loc = 'Bank'
if loc == 'Auto Shop':
    print("Cars are cool!")
else:
    print("I dont know much.")

I dont know much.

In [16]:
loc = 'Bank'
if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == "Bank":
    print("Money is cool.")
elif loc == 'Store':
    print("Welcome to the store.")
else:
    print("I dont know much.")

Money is cool.

In [17]:
loc = 'Auto Shop'
if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == "Bank":
    print("Money is cool.")
elif loc == 'Store':
    print("Welcome to the store.")
else:
    print("I dont know much.")

Money is cool.

In [18]:
loc = 'Gada'
if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == "Bank":
    print("Money is cool.")
elif loc == 'Store':
    print("Welcome to the store.")
else:
    print("I dont know much.")

Cars are cool!

In [19]:
loc = 'Gada'
if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == "Bank":
    print("Money is cool.")
elif loc == 'Store':
    print("Welcome to the store.")
else:
    print("I dont know much.")

I dont know much.

In [21]:
name = 'Jose'
if name == 'Frankie':
    print("Hello, Frankie")
elif name == 'Sammy':
    print("Hello, Sammy")
else:
    print("What is your name?")

What is your name?

In [1]:
# "For" loop

In [2]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [5]:
for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [7]:
for num in mylist:
    # Check even
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [8]:
for num in mylist:
    # Check even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [3]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num

print(list_sum)

55

In [4]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num

    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [5]:
# I way
mystring = 'Hello World'
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [7]:
# II way - string instead of variable - Sometimes _ is used in variable
for letter in 'Hello World':
    print('Cool')

Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool

In [9]:
tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

In [10]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [11]:
len(mylist)

4

In [12]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)